.MainNavBarD{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 0.2px solid rgb(0, 0, 0);

    .MainNavBarNB{
        height: 100%;
    }
    .logo {
        .LogoMain {
            width: 80%;
            padding-left: 130px;
        }
        object-fit: contain;
        width: 100px;
    } 
    .nav-buttons {
        display: flex;
        gap: 10px;
        a {
            color: rgb(255, 255, 255);
            margin: 10px;
            text-decoration: none;
            padding: 6px 12px;
            border-radius: 4px;
            background-color: rgb(79, 111, 255);
        }
        a:hover{
            color: #f5a623;
        }
    }
}
