.SetaEsquerdaRecompensas{
    padding-left: 2%;
    padding-top: 2%;
    float: left;
    :hover{
        background-color: yellow;
    }
    i{
        font-size: 3em;
    }
}

.Container-Recompensas {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    .Recompensas{
        height: 100%;
        width: 100%;
    }
}

.Header-Recompensa {
    background-color: #f4f4f4;
    color: #f4f4f4;
    text-align: center;
}

.Colecao{
    margin: auto;
    max-height: 70%;
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8%;
    list-style-type: none;
    .Item-Colecao{
        border-radius: 5%;
        padding: 5px;
        border: 1px solid;
        flex-direction: row;
        text-align: center;
        .Trophys{
            max-height: 100%;
            max-width: 90%;
        }
        .Num-Trophy{
            font: Comic;
            font-size: large;
            font-weight: bolder;
        }
    }
}

@media (min-width: 0px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .Colecao {
      grid-template-columns: repeat(2, 1fr);
    }
    .Item-Colecao{
      img{
        max-height: 200px;
        width: 120px;
      }
    }
  }
  
  @media (min-width: 540px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .Colecao {
      grid-template-columns: repeat(2, 1fr);
    }
    .Item-Colecao{
      img{
        max-height: 200px;
        width: 180px;
      }
      
    }
  }

  @media (min-width: 770px) {
    .Colecao {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .Colecao {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1281px) {
    /* hi-res laptops and desktops */
    .Colecao {
      grid-template-columns: repeat(3, 1fr);
    }
  }