body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    
  }

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    //background: linear-gradient(to bottom, #1e79d3, #d3d3d3 , #d6ad6a);
    background-color: #d3d2d2;
  }
  
  header {
    background-color: #6399ce; /* Amarelo */
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #fff; /* Branco */
    font-size: 28px;
  }
  
  main {
    padding: 20px;
  }
  
  .cursos {
    opacity: 10;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    background-color: #fff; /* Branco */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #1976D2; /* Preto */
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    margin-bottom: 5px;
    color: #1976D2;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #d6ad6a; /* Azul */
    color: #fff;
    text-align: center;
    padding: 10px;
  }